.btn {
  background-color: #f57f49;
  border-color: white;
  color: white;
}

.nav-link {
  color: #c7c0d0;
}

.nav-link:active,
.sidebar-dark-primary .nav-sidebar .nav-item .nav-link.active {
  background-color: red;
}

.sidebar-dark-primary .nav-sidebar .nav-item:hover .nav-link {
  color: #fff;
}

a {
  color: red;
}

.logo-xl,
.main-sidebar .logo-xs,
.sidebar .user-panel .info {
  transition: margin-left 0.3s linear, opacity 0.3s ease, visibility 0.3s ease;
}

.sidebar .nav-link p {
  color: white;
}

.nav-link,
.accent-primary
  a:not(.dropdown-item):not(.btn-app):not(.nav-link):not(.brand-link):not(
    .page-link
  ):not(.btn) {
  color: gray;
}
